html,
body {
    height: 100%;
    line-height: 1;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

table {
    font-family: "Inter", sans-serif;
}

button {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: #2f2e2e;
    -webkit-transition: ease 0.25s all;
    -moz-transition: ease 0.25s all;
    -o-transition: ease 0.25s all;
    transition: ease 0.25s all;
}

a:hover {
    -webkit-transition: ease 0.25s all;
    -moz-transition: ease 0.25s all;
    -o-transition: ease 0.25s all;
    transition: ease 0.25s all;
}

/* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900 */

body {
    /* min-height: 100vh; */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background-color: #16052B;
}

section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
}

.margin-top {
    margin-top: 20px;
}

.big_img_container {
    max-width: 600px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    background-image: url(../images/backgrounds/IMG_20240319_154735.png);
    color: rgb(240, 240, 240);
    border-radius: 10px;
}

.text_container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    width: 60%;
}

.big_img_container h5 {
    font-size: 15px;
    opacity: 0.8;
    margin: 20px 0px 20px 30px;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    letter-spacing: 0.8px;
    text-shadow: 2px 4px 5px black;
}

.big_img_container h1 {
    margin: 0px 0px 50px 30px;
    font-size: 35px;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    letter-spacing: 0.8px;
    text-shadow: 2px 4px 5px black;
}

.big_img_container p {
    opacity: 0.8;
    font-size: 12px;
    margin: 10px 0px 20px 30px;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
    letter-spacing: 0.6px;
    text-shadow: 2px 4px 5px black;
}

section.balance {
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.container_overview {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    background-color: #3C354A;
    border-radius: 10px;
    border: 2px solid gray;
}

.container_overview h3 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.balance_overview {
    max-width: 250px;
    width: 100%;
}

.balance_overview img {
    max-width: 80px;
    margin-top: 20px;
    margin-left: calc(50% - 40px);
}

.amount_area {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin-top: 20px;
}

.amount_area p {
    font-size: 17px;
    color: #9080BA;
    margin-left: 20px;
    font-weight: 500;
}

.amount_area h3 {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 18px;
}

.purpleButton {
    font-size: 16px;
    border-radius: 5px;
    background-color: #ac6aec;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.purpleButton:hover {
    background-color: #b67fee;
    -webkit-box-shadow: 0px 0px 5px 0px #c59af4;
    -moz-box-shadow: 0px 0px 5px 0px #c59af4;
    box-shadow: 0px 0px 5px 0px #c59af4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}

.purpleButton:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.recordButton {
    width: 80%;
    padding: 7px 0px;
    margin: auto;
    margin-top: 10px;
}

.windowButton {
    width: auto;
    padding: 7px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resetButton {
    font-size: 14px;
    padding: 2px 10px;
    margin-right: 20px;
}

.records_overview {
    max-width: 400px;
    width: 100%;
    max-height:280px;
    overflow-y: auto;  /* включаем вертикальный скролл */
    overflow-x: hidden; /* скрываем горизонтальный скролл */
}

.records_overview .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin-top: 20px;
}

.row h3 {
    margin-top: 0px;
}

.records_overview table thead tr th {
    font-size: 13px;
    font-weight: 300;
    color: gray;
}

.records_overview table {
    margin-top: 10px;
}

tr {
    padding-top: 10px;
}

td {
    font-size: 12px;
    color: white;
    text-align: center;
}


.records_overview::-webkit-scrollbar {
    width: 8px;
}

.records_overview::-webkit-scrollbar-track {
    background: #2e2e3d;
    border-radius: 10px;
}

.records_overview::-webkit-scrollbar-thumb {
    background-color: #a475e4; /* кастомный цвет ползунка */
    border-radius: 10px;
    border: 2px solid #2e2e3d; /* обводка вокруг ползунка */
}

/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */
/* CRYPTO SCROLLER */

section.currencies {
    white-space: nowrap;
    position: relative;
    margin-top: 10px;
}

.slider-wrapper {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px;
  }

.crypto_img_container {
    position: relative;
}

.crypto_img_container img {
    position: absolute;
}

.crypto_img_container #Uniswap {
    width: 110px;
    left: -40px;
    top: -40px;
}

.crypto_img_container #Bitcoin {
    width: 130px;
    left: 140px;
    top: 130px;
}

.crypto_img_container #Polygon {
    width: 120px;
    left: 25px;
    top: 60px;
}

.crypto_img_container #Ethereum {
    width: 130px;
    left: 125px;
    top: -65px;
}

.big_img_container img {
    height: 80%;
}

ul.currencies_grafs {
    position: absolute;
    list-style-type: none;
    width:100%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding: 0;
    margin: auto;
    left: 0;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: 0.5s ease-in-out;
}


  
.scroll-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.scroll-button:hover {
    background-color: #ab6aecd6;
    -webkit-box-shadow: 0px 0px 5px 5px #c69af4;
    -moz-box-shadow: 0px 0px 5px 5px #c69af4;
    box-shadow: 0px 0px 5px 5px #c69af4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.scroll-button:active {
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90);
    transform: scale(0.90);
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.currencies_grafs li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    min-width: 210px;
    height: 130px;
    background-color: #3C354A;
    border-radius: 10px;
    border: 2px solid gray;
    position: relative;
    margin: 20px 30px;
    margin-top: 40px;
}

.currencies_grafs li div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.currencies_grafs li img {
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: -30px;
    z-index: 3;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 2px 2px rgb(28, 28, 28);
    -moz-box-shadow: 0px 2px 2px 2px rgb(28, 28, 28);
    box-shadow: 0px 2px 2px 2px rgb(28, 28, 28);
}

.currencies_grafs li h6 {
    color: gray;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
}

.totalAmount {
    color: rgb(212, 212, 212);
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    white-space: normal;
    max-width: 100%;
    font-weight: bold;
}

.totalAmountDontHave {
    color: #dfa8f5;
    font-size: 13px;
    margin-top: 15px;
    font-weight: 600;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    white-space: normal;
    max-width: 100%;
    text-align: center;
    margin-left: 15px;
    margin-top: 5px;
}

.list-item {
    position: relative;
}

.removeButton {
    position: absolute;
    display: none;
    top: -18px;
    right: -9px;
    color: #aaa;
    font-size: 30px;
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.removeButton:hover {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scaleY(1.3) scaleX(1.5);
    -moz-transform: scaleY(1.3) scaleX(1.5);
    -ms-transform: scaleY(1.3) scaleX(1.5);
    -o-transform: scaleY(1.3) scaleX(1.5);
    transform: scaleY(1.3) scaleX(1.5);
    text-shadow: 0px 0px 5px #ff1212;
}

.currencies_grafs li:hover .removeButton {
    display: block;
    -webkit-transition: ease 0.25s all;
    -moz-transition: ease 0.25s all;
    -o-transition: ease 0.25s all;
    transition: ease 0.25s all;
}


/* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM */
/* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM */
/* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM *//* CHART & DIAGRAM */
#myCryptoChart {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

.cost {
    color: rgb(212, 212, 212);
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    white-space: normal;
    max-width: 100%;
}

.openNewPairModalButton {
    width: 80%;
    padding: 7px 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#addPairButton {
    width: 45%;
    padding: 5px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.graphs_diagrams {
  padding-top: 10px;
}


.cryptoChart{
    width:50%;
    background-color: #3C354A;
    border-radius: 10px;
    border: 2px solid gray;
    height:340px;
    position: relative;
}

#cryptoOptions{
    position: absolute;
    right:10px;
    width:73px;
    height:30px;
    background-color: rgb(98, 91, 105);
    border: 2px solid gray;
    font-size: 13px;
}

#cryptoChartCanvas {
    width: 100%;
    height: 100%;
    display: block;
    padding: 30px 0px 0px 10px;
}


.diagram-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #3C354A;
    border-radius: 10px;
    border: 2px solid gray;
}

.diagram {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}


#cryptoPieCanvas {
  width: 340px;
  height: 340px;
  display: block;
}


#pieLegend {
  min-width: 160px;
}

#pieLegend div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

#pieLegend div span.color-box {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 2px;
  display: inline-block;
  flex-shrink: 0;
}

.diagram_container ul{
    list-style-type: none;
    color:gray;
    font-weight: bold;
}

.diagram_container ul li:not(:first-child){
    margin-top: 10px;
}

.cryptoChart,
#cryptoChartCanvas,
.diagram,
.diagram_container {
    box-sizing: border-box;
}


/*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*/
/*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*//*Dropdown options*/

.cryptoPairDropdownOptions{
    position: relative;
    display: inline-block;
    max-width: 158px;
}

.cryptoPairDropdownOptions div{
    width: 100%; 
    height: 100px;
    background-color: #2b2635;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    border: 1.5px solid white;
    margin-left: -1px;
}

.cryptoPairDropdownOptions div ul {
    width: 100%;
    color:#6a6d7a;
    margin-top:5px;
}

.cryptoPairDropdownOptions div ul li{
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
}

.cryptoPairDropdownOptions div ul li:hover{
    color:#aaa
}

.cryptoPairDropdownOptions div::-webkit-scrollbar {
    width: 8px;
  }
  
  .cryptoPairDropdownOptions div::-webkit-scrollbar-track {
    background: #2e2e3d;
    border-radius: 10px;
  }
  
  .cryptoPairDropdownOptions div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .cryptoPairDropdownOptions div::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  
  /* Для Firefox */
  .cryptoPairDropdownOptions div {
    scrollbar-width: thin;
    scrollbar-color: #888 #2e2e3d;
  }
  






.mobile-layout {
  display: none;
}

.section-mobile-table{
    display: none;
}



@media screen and (max-width: 1290px) {
    .big_img_container {
        margin-left: 10px;
        max-width: 450px;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: right center;
    }
    .balance_overview {
        margin-right: 10px;
        margin-left: 10px;
    }
    .records_overview{
        margin-right: 10px;
    }
}


@media screen and (max-width: 1170px) {
    .big_img_container {
        margin-left: 10px;
        max-width: 400px;

    }
    .balance_overview {
        margin-right: 10px;
        margin-left: 10px;
    }
    .records_overview{
        margin-right: 10px;
    }
    .big_img_container h1{
        font-size: 30px;
    }
    .big_img_container p{
        font-size: 13px;
    }
}

@media screen and (max-width: 1115px) {
    .big_img_container {
        max-width: 380px;

    }
    .balance_overview {
        margin-left: 5px;
    }
    .records_overview{
        margin-right: 5px;
        max-width: 360px;
        max-height: 280px;
    }
    .text_container{
        width: 80%;
    }
    .big_img_container h1{
        font-size: 27px;
    }
    .big_img_container p{
        font-size: 12px;
    }
}




/* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px */
/* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px */
/* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px *//* MOBILE BALANCE 1030px */

@media screen and (max-width: 1050px) {
    section {
        flex-direction: column;
        align-items: center;
    }



    .purpleButton {
        width: 90% !important;
        padding: 10px;
    }

    #cryptoOptions {
        right: 10px;
        top: 10px;
        width: auto;
    }

    table {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .desktop-layout {
        display: none;
    }

    .mobile-layout {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        gap: 20px;
        padding: 30px;
        background-color:#1A0E2A;
        border-radius: 30px;
        max-width: 800px;
        margin-top:20px;
        color: white;
    }

    .mobile_header div {
        position: relative;
        width: 100%;
    }

    .mobile_header img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        margin-top: 10px;
    }

    .mobile_header h1 {
        margin-top: 30px;
        font-size: 68px;
        opacity: 0.9;
        margin-bottom: 6px;
    }
 
    .mobile_header h5 {
        font-size: 38px;
        opacity: 0.7;
        margin-bottom: 6px;
    }

    .mobile_header div p {
        position: absolute;
        left: 20px;
        right: 20px;
        top:20px;
        font-size: 33px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
        line-height: 1.4;
        font-weight: 400;
    }

   .mobile_balance {
        border-radius: 16px;
        width: 100%;
        color: white;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_balance h3 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 600;
    opacity: 0.9;
    }

    .balance_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    }

    .balance_row img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    }

    .balance_row p {
    margin: 0;
    font-size: 30px;
    }

    .purpleButton{
        width: 100% !important;
        font-size: 38px;
        margin-top: 20px;
    }

    .balance_row .label {
    color: #a6a6a6;
    margin-right: 5px;
    }
    


    .section-mobile-table{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
        padding: 30px;
        background-color:#1A0E2A;
        border-radius: 30px;
        max-width: 800px;
        margin-top:20px;
        color: white;
    }

    .mobile-overview{
        max-width: 100%;
        max-height:400px;
        overflow-y: auto; 
        overflow-x: hidden; 
        padding: 0;
        margin: 0;
        width: 100% !important;
    }

    .mobile-overview .row h3{
        font-size: 38px;
    }

    .mobile-reset-data-button{
        width:30% !important;
        font-size: 28px;
    }

    .mobile-overview table{
        
        padding-left: 10px;
    }
    
    .mobile-overview table thead tr {
        margin-left: 10px;
        margin-right: 10px;
    }

    .mobile-overview table thead tr th{
        font-size: 28px;

    }

    td{
       font-size: 27px; 
    }

    
    .slider-wrapper {
            height: auto;
        }

    ul.currencies_grafs {
        flex-wrap: wrap;
        justify-content: center;
        position: static;
    }

    .currencies_grafs li {
        margin: 10px;
    }

    .scroll-button {
        display: none;
    }

    .slider-wrapper{
        max-height: 100vh;
        overflow: hidden; /* защита от переполнений */
        max-width: 600px;
        margin-top: 30px;
    }
    ul.currencies_grafs {
        display: flex;
        gap: 15px;
        margin-top: 10px;
        list-style: none;
        max-height: 100vh;              /* ограничивает высоту */
        overflow-y: auto;              /* включает вертикальный скролл */
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch; /* для плавного свайпа на iOS */
    }

    .currencies_grafs li {
        width: 100%;
        max-width: 500px;
        height: 250px;
        margin-top: 70px;
    }

    .currencies_grafs li:first-of-type {
        margin-top: 50px;
    }

    .currencies_grafs li img{
        width: 100px;
        height: 100px;
        left: calc(50% - 45px);
        top: -45px;
    }

    .currencies_grafs li h6{
        font-size: 25px;
        margin-top:70px;
    }

    .currencies_grafs li div{
        font-size: 30px;
    }

    ul.currencies_grafs::-webkit-scrollbar {
    width: 8px;
    }

    ul.currencies_grafs::-webkit-scrollbar-track {
        background: #2e2e3d;
        border-radius: 10px;
    }

    ul.currencies_grafs::-webkit-scrollbar-thumb {
        background-color: #a475e4; /* цвет ползунка */
        border-radius: 10px;
        border: 2px solid #2e2e3d;
    }

    /* Firefox поддержка */
    ul.currencies_grafs {
        scrollbar-color: #a475e4 #2e2e3d;
        scrollbar-width: thin;
    }






    .cryptoChart,
    .diagram-container {
        width: 95% !important;
        flex-direction: column;
        height: auto;
    }

    .diagram {
        flex-direction: column;
        align-items: center;
    }

    #cryptoChartCanvas{
        padding: 50px 0px 10px 10px;
    }
    
    #cryptoPieCanvas {
        width: 100%;
        height: auto;
    }

    #pieLegend {
        width: 100%;
        text-align: center;
        
    }

    #pieLegend div{
        font-size: 20px !important;
    }

    .cryptoChart{
        margin-top: 40px;
    }

    .diagram-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


/* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px */
/* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px */
/* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px *//* MOBILE BALANCE 830px */

@media screen and (max-width: 830px) {

    table {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .desktop-layout {
    display: none;
    }

    .mobile-layout {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
        padding: 30px;
        background-color:#1A0E2A;
        border-radius: 30px;
        max-width: 600px;
        margin-top:20px;
        color: white;
    }

    .mobile_header div {
        position: relative;
        width: 100%;
    }

    .mobile_header img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        margin-top: 10px;
    }

    .mobile_header h1 {
        margin-top: 30px;
        font-size: 60px;
        opacity: 0.9;
        margin-bottom: 6px;
    }
 
    .mobile_header h5 {
        font-size: 30px;
        opacity: 0.7;
        margin-bottom: 6px;
    }

    .mobile_header div p {
        position: absolute;
        left: 20px;
        right: 20px;
        top:20px;
        font-size: 25px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
        line-height: 1.4;
        font-weight: 400;
    }

   .mobile_balance {
        border-radius: 16px;
        width: 100%;
        color: white;
        margin-top: 20px;
    }

    .mobile_balance h3 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 600;
    opacity: 0.9;
    }

    .balance_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    }

    .balance_row img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    }

    .balance_row p {
    margin: 0;
    font-size: 30px;
    }

    .purpleButton{
        width: 100% !important;
        font-size: 30px;
        margin-top: 20px;
    }

    .balance_row .label {
    color: #a6a6a6;
    margin-right: 5px;
    }
    
    .slider-wrapper{
        max-height: 100vh;
        overflow: hidden; /* защита от переполнений */
        max-width: 600px;
        margin-top: 30px;
    }
    ul.currencies_grafs {
        display: flex;
        gap: 15px;
        margin-top: 10px;
        list-style: none;
        max-height: 100vh;              /* ограничивает высоту */
        overflow-y: auto;              /* включает вертикальный скролл */
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch; /* для плавного свайпа на iOS */
    }

    .currencies_grafs li {
        width: 100%;
        max-width: 500px;
        height: 250px;
        margin-top: 70px;
    }

    .currencies_grafs li:first-of-type {
        margin-top: 50px;
    }

    .currencies_grafs li img{
        width: 100px;
        height: 100px;
        left: calc(50% - 45px);
        top: -45px;
    }

    .currencies_grafs li h6{
        font-size: 25px;
        margin-top:70px;
    }

    .currencies_grafs li div{
        font-size: 30px;
    }

    .section-mobile-table{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
        padding: 30px;
        background-color:#1A0E2A;
        border-radius: 30px;
        max-width: 600px;
        margin-top:20px;
        color: white;
    }

    .mobile-overview{
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }

    .mobile-overview .row h3{
        font-size: 30px;
    }

    .mobile-reset-data-button{
        width:30% !important;
        font-size: 20px;
    }

    .mobile-overview table{
        height:400px;
        padding-left: 10px;
    }
    
    .mobile-overview table thead tr {
        margin-left: 10px;
        margin-right: 10px;
    }

    .mobile-overview table thead tr th{
        font-size: 20px;

    }

    td{
       font-size: 20px; 
    }

    .cryptoChart{
        margin-top: 40px;
    }

    .diagram-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px */
/* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px */
/* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px *//* MOBILE BALANCE 600px */

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .big_img_container {
        flex-direction: column;
        text-align: center;
    }

    .text_container {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .balance_overview img {
        margin: 20px auto;
    }

    .purpleButton {
        width: 90% !important;
        padding: 10px;
    }

    #cryptoOptions {
        right: 10px;
        top: 10px;
        width: auto;
    }

    .slider-wrapper {
        height: auto;
    }

    ul.currencies_grafs {
        flex-wrap: wrap;
        justify-content: center;
        position: static;
    }

    .currencies_grafs li {
        margin: 10px;
    }

    .scroll-button {
        display: none;
    }

    
    table {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .desktop-layout {
    display: none;
    }

    .mobile-layout {
        max-width: 400px;
    }

    .mobile_header div {
        position: relative;
        width: 100%;
    }

    .mobile_header img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        margin-top: 10px;
    }

    .mobile_header h1 {
        margin-top: 10px;
        font-size: 40px;
        opacity: 0.9;
        margin-bottom: 6px;
    }
 
    .mobile_header h5 {
        font-size: 23px;
        opacity: 0.7;
        margin-bottom: 6px;
    }

    .mobile_header div p {
        font-size: 16px;
    }

    .mobile_balance{
        margin-top: 0px;
    }

    .mobile_balance h3 {
    font-size: 25px;
    }

    .balance_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    }

    .balance_row img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    }

    .balance_row p {
    margin: 0;
    font-size: 20px;
    }

    .purpleButton{
        width: 70% !important;
        font-size: 20px;
        margin-top: 10px;
    }

    .balance_row .label {
    color: #a6a6a6;
    margin-right: 5px;
    }
    
    

    .section-mobile-table{
        max-width: 400px;
    }
    .mobile-overview{
        max-height: 280px;
    }
    .mobile-overview .row h3{
        font-size: 20px;
        margin-left: 10px;
    }

    .mobile-reset-data-button{
        width:30% !important;
        font-size: 15px;
        margin-right: 10px;
    }

    .mobile-overview table{
        padding-left: 5px;
    }
    
    .mobile-overview table thead tr {
        margin-left: 5px;
        margin-right: 5px;
    }

    .mobile-overview table thead tr th{
        font-size: 14px;

    }

    td{
       font-size: 14px; 
    }

    .slider-wrapper{
        max-width: 300px;
        margin-top: 10px;
    }

    .currencies_grafs li {
        height: 150px;
        margin-top: 40px;
    }

    .currencies_grafs li:first-of-type {
        margin-top: 50px;
    }

    .currencies_grafs li img{
        width: 70px;
        height: 70px;
        left: calc(50% - 30px);
        top: -35px;
    }

    .currencies_grafs li h6{
        font-size: 17px;
        margin-top:30px;
    }

    .currencies_grafs li div{
        font-size: 17px;
    }


    .cryptoChart,
    .diagram-container {
        width: 95% !important;
        flex-direction: column;
        height: auto;
    }

    .diagram {
        flex-direction: column;
        align-items: center;
    }

    #cryptoPieCanvas {
        width: 90%;
        height: auto;
    }

    #pieLegend {
        width: 100%;
        text-align: center;
    }

    #pieLegend div {
        font-size: 15px !important;
        padding-left: 10px;
    }

    .cryptoChart{
        margin-top: 40px;
    }

    .diagram-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 450px) {
    .mobile-layout{
        max-width: 300px;
    }
    .mobile_header h5{
        font-size: 20px;
    }
    .mobile_header h1{
        font-size: 30px;
    }
    .mobile_header div p {
        font-size: 14px;
    }

    .mobile_balance h3 {
        font-size: 20px;
    }
    .balance_row p {
        font-size: 16px;
    }
    .purpleButton{
        font-size: 16px;
    }
    .balance_row img {
        width: 50px;
        height: 50px;
    }


    .section-mobile-table{
        max-width: 300px;
    }
    .mobile-overview{
        max-height: 200px;
    }
    .balance_row {
        margin-bottom: 10px;
    } 
    .balance_row .label {
        font-size: 12px;
    }
    .mobile-overview .row {
        margin-top: 5px;
    }
    .mobile-overview .row h3{
        font-size: 18px;
        margin-left: 10px;
    }
    .mobile-reset-data-button{
        width:30% !important;
        font-size: 12px;
        margin-right: 10px;
    }
    .mobile-overview table thead tr th{
        font-size: 12px;
    }
    td{
       font-size: 12px; 
    }
    .slider-wrapper{
        max-width: 250px;
        margin-top: 10px;
    }
     
    .currencies_grafs li {
        width: 100%;
        max-width: 250px;
        height: 150px;
        margin-top: 30px;
    }
    .currencies_grafs li:first-of-type {
        margin-top: 40px;
    }
    .currencies_grafs li img{
        width: 50px;
        height: 50px;
        left: calc(50% - 20px);
        top: -25px;
    }
    .currencies_grafs li h6{
        font-size: 14px;
        margin-top:20px;
    }
    .currencies_grafs li div{
        font-size: 14px;
    }
    .cryptoChart,
    .diagram-container {
        width: 95% !important;
        flex-direction: column;
        height: auto;
    }
}
